:root {
  --light: #e2e2e2;
  --dark: #000000;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

header {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 36px;
  color: whitesmoke;
  margin: 10px 10px 10px 10px;
  display: flex;
  text-shadow: 0 0 2px pink;
}

header div {
  justify-content: space-between;
}

nav ul {
  justify-content: space-around;
  align-items: right;
  padding-right: 15px;
}

main {
  margin: 0 auto;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover {
  color: pink;
  opacity: 0.8;
}

nav ul {
  justify-content: space-around;
  align-items: right;
  list-style: none;
  padding-right: 15px;
}

nav a {
  font-size: 1.6vw;
  font-weight: normal;
  margin: 0 15px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}
.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}
.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
